.vscode/**
.gitignore
**/.gitignore
.git
.github
doc
**/*.map
.eslintrc.json
dist
webpack.config.js
node_modules
out-js
src
script
resources/**/*.js
!resources/dide-doc/view/js/**
resources/**/*.d.ts
resources/**/*.wasm
resources/**/*.tar.gz
tsconfig.json
design
lib
!lib/testbench.v
*.vcd
*.zip
figures
scripts